body {
    background-color: green;

}

h1 {
    display: flex;
    justify-content: center;
}

div {
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }